
@import 'fonts/stylesheet.css';

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

@font-face {
    font-family: TT Lakes;
    src: url('fonts/TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic');
    font-weight: normal;
    font-style: italic;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: TT Lakes,'Arial', sans-serif;
    width: 100%;
}

.header{
    display: flex;
    height: 88px;
    background-color:  #FFFFFF;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #D9FFF5;
    width: 100%;
    align-items: center;
}

.button__menu{
    outline: none;
    border: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    display: block;
    background: #FF3E79;
    padding: 10px 9px 10px 11px;
    text-decoration: none;
    border-radius: 100%;
    vertical-align: top;
    width: 43px;
    height: 43px;
}
.button__menu--img{
    padding-top: 3px;
}
.logo{
margin-right: 2vw;
}
.upper-menu{
    list-style-type: none;
    margin-right: 150px;
    display: flex;
    padding-left: 0;
}
.upper-menu__item{
    display: inline;
    margin-right: 2vw;
    display: inline-block;
    background: #FF3E79;
    padding: 10px 9px 10px 11px;
    text-decoration: none;
    border-radius: 100%;
    vertical-align: top;
    width: 43px;
    height: 43px;
}
.upper-menu__item:hover{
opacity: 0.5;
}
.upper-menu__img--chat{
    margin-top: 1px;
}
.upper-menu__img--call{
    margin-top: 1px;
}
.button__menu:hover{
    opacity: 0.5;
}
.logo--img:hover{
    opacity: 0.5;
}

.user-menu{
    list-style-type: none;
    margin-left: auto;
    display: flex;
    position: absolute;
    top: 8px;
    right: 0;
}
.user-menu__item{
    display: inline;
    margin-right: 4vw;
    display: inline-block;
}
.user-menu--style{
    display: inline-block;
    background: #FF3E79;
    padding: 10px 9px 10px 11px;
    text-decoration: none;
    border-radius: 100%;
    vertical-align: top;
    width: 43px;
    height: 43px;
}
.user-menu__link:hover{
opacity: 0.5;
}
.container__divider::after{
    display: inline-flex;
    position: relative;
    bottom: 5px;
    right: 20px;
    width: 2px;
    height: 32px;
    left :20px;

    text-align: center;
    content: "";
    border: 1px solid #EAEAEA;
}
.container__divider--m::after{
    display: inline-flex;
    position: relative;
    bottom: 25px;
    left:35px ;
    width: 2px;
    height: 30px;
    text-align: center;
    content: "";
    border: 1px solid #EAEAEA;
}
.container__divider--l::after{
    display: inline-block;
    position: relative;
    top: 8px;
    left: 30px;
    width: 2px;
    height: 30px;
    left :12px;
    text-align: center;
    content: "";
    border: 1px solid #EAEAEA;
}

.main{
    background-color: #F8F8F8;
}
.main-title{
   font-size: 28px;
   color: #1B1C21;
   margin-left: 20px;
}
.main__div{
    display: flex;
    flex-flow : row;
}
.main__div--divider::before{
    display: inline-block;
    position: relative;
    top: 7px;
    right: 20px;
    width: 2px;
    height: 30px;
    text-align: center;
    content: "";
    border: 2px solid #41F6D7;

}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
    -ms-overflow-style: none;
}
.navigation__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.navigation__list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    overflow-x: hidden;
    padding: 20px;
    /*margin-left: 16px;*/
    white-space: nowrap;
    padding-left: 0;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 0;
}
/*.navigation__link{*/
/*margin-left: 20px;*/
/*}*/
.navigation__link{
    text-decoration: none;
    color: #7E7E82;
    padding: 8px;
    margin-left: 20px;
    /*font-size: 300%;*/
}
.navigation__link:hover{
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 7px;
    width: 100%;
    margin-left: 18px;
    margin-right: -2px;
}
.navigation__item:nth-child(6){
   padding-right: 2px;
}
.description{

}
.description__container{

}

.description__button{
    border: none;
    outline: none;
    background-color:#F8F8F8 ;
    display: flex;
    margin-left: 16px;
    margin-bottom: 20px;
}
.description__button--img{

}
.description__button--title{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 16px;
}
.description__img{
    width: 100%;
    margin-top: 10px;
}
.description__text--first{
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 16px;
}
.description__text--next{
    margin-top: 0;
    margin-left: 20px;
}
@media screen and (min-width: 512px){
    .container__divider::after{
        display: none;
    }
    .button__menu--img{
        padding-right: 12px;
    }
}
@media screen and (max-width: 512px) {

    .upper-menu{
        display: none;
    }
    .container__divider--m::after{
        display: none;
    }
    .container__divider--l::after{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .description__text--next{
        display: none;
    }

}

@media (min-width: 510px) and (max-width: 1120px) {


    .button__menu {
        margin-left:10px;
        margin-right: 30px;
    }

    .logo{
        margin: 0 10px;
    }
    .user-menu {
        order: 999;
        padding-left: 30px;

    }
    .user-menu__item{
        margin-right: 15px;
    }
    .upper-menu{
        order: 999;
        margin-left: auto;
    }

    .logo{
        margin-left: 0;
    }

}
@media (min-width: 768px)  {

    .description{
        display: flex;
        padding-bottom: 30px;
    }
    .description__container{
        width: 50%;
        padding-right: 40px;
        padding-left: 10px;
    }
    .description__img{
        width: 50%;
        border-radius: 10px;
        margin-right: 25px;
    }
    .description__text{
        -webkit-line-clamp: 8;
    }
    .description__text--first{
        margin-right: 0;
    }

}

@media (max-width: 1120px) {
    .user-menu__text{
        display: none;
    }
    .description__text--full{
        display: none;
    }
}
@media (min-width: 1120px) {
    .header{
        display: none;
    }

    .header  > *:not(.user-menu) {
        display: none;
    }
    .user-menu{
        order: 999;
        margin-left: 0;
    }
    .user-menu__text{
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
    }
    .navigation__list{
        flex-wrap: wrap;
        padding: 0;
    }
    .navigation__item{
     margin-top: 22px;
        margin-bottom: 10px;
    }

}
.sidebar{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
    left: 0;
    box-shadow: 16px 0 52px 0 #0E185033;
}
.sidebar__header{
    display: flex;
    height: 88px;
    margin-bottom: 5px;
    width: 320px;
    align-items: center;
}
.icon{
    display: inline-block;
    background: #FF3E79;
    padding: 10px 10px 10px 11px;
    text-decoration: none;
    border-radius: 100%;
    vertical-align: top;
    width: 40px;
    height: 40px;
}
.icon:hover{
    opacity: 0.5;
}
.icon-close{
margin-left: 24px;
}
.header__logo{
   margin-left: 17px;
}
.header__logo:hover{
    opacity: 0.5;
}
.icon-search{
   margin-left: 78px;
}

.sidebar__list{
    list-style-type: none;
    padding-left: 20px;

}
.sidebar__item{
margin-bottom: 20px;
    padding: 7px;
}
.sidebar__link{
    text-decoration: none;
    font-size: 16px;
    color: #1B1C21;
}
.sidebar__link:hover::before{
    /*display: inline-block;*/
    position: relative;
    right: 24px;
    width: 2px;
    height: 30px;
    /*text-align: center;*/
    content: "";
    border: 2px solid #41F6D7;

}

.sidebar__list:hover{
    padding-left: 20px;
}
.sidebar__link:hover{
    color: #7E7E82;
    /*bottom: 5px;*/
    /*right: 7px;*/
}
.sidebar__item:hover{
    /*padding: 0;*/
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.sidebar__nav{
    flex-grow: 1;
}
.sidebar__footer{
margin-top: auto;
}
.icon-contact__list{
    display: flex;
    list-style-type: none;
    padding-left: 24px;
    /*margin-bottom: 16px;*/
}
.icon-contact__link{
    display: block;
    text-decoration: none;
    margin-right: 16px;
}
.icon-contact__item--profile{
width: 20px;
    height: 20px;
    padding-right: 2px;
}
.email-link{
    display: block;
    text-decoration: none;
    color: #1B1C21;
    margin-left: 24px;
    margin-bottom: 12px;
}
.phone-link{
    font-size: 24px;
    font-weight:600;
    display: block;
    text-decoration: none;
    color: #1B1C21;
    margin-left: 24px;
    margin-bottom: 40px;
}
.lang-list{
    display: flex;
    list-style-type: none;
    padding-left: 24px;
    margin-bottom: 32px;
}
.lang-link{
    display: block;
    text-decoration: none;
    margin-right: 7px;
}
.lang-item{
    text-decoration: none;
    color: #1B1C21;
    margin-right: 7px;
}
.lang-item:hover{
    color: #7E7E82;
}
@media screen and (max-width: 360px){
    .sidebar{
        width: 100%;
        max-width: 100%;
    }
    .sidebar__header{
        width: 100%;
        max-width: 360px;
        display: flex;
        align-items: center;
        padding-right: 24px;
    }
    .icon-search{
        display: block;
        margin-left:auto;
    }
    .icon-close{
        display: block;
    }
    .header__logo{
        display: block;
    }
}




.brands{
background-color: #F8F8F8;
}

.cap{
    /*background-color: white;*/
box-shadow: inset 0 2px 4px #D9FFF5;
/*linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);*/
    background-image: linear-gradient( to right, #F8F8F8, #FFFFFF);
}
.cap__title{
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
}
.brands__list{
    list-style-type: none;
    padding: 0;
}
.swiper-slide{
    display: flex;
}
.brands__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #FFFFFF;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}
.brands__image{

}
.brands__arrow{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
}
.brands__arrow::after{
    position: absolute;
    top: 13px;
    left: 13px;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79;
    transform: rotate(225deg);
}

.read-more__btn{
    display: block;
    position: relative;
    left: 57px;
    bottom: 34px;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.read-more__btn::before{
    position: absolute;
    top: 6px;
    left: -20px;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-left: 2px solid #41F6D7;
    border-bottom: 2px solid #41F6D7;
    transform: rotate(315deg);
}
.read-more__btn::after{
    position: absolute;
    top: 11px;
    left: -20px;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-left: 2px solid #41F6D7;
    border-bottom: 2px solid #41F6D7;
    transform: rotate(315deg);
}
.read-more__btn:active::before{
    transform: rotate(137deg);
}
.read-more__btn:active::after{
    transform: rotate(137deg);
}


@media screen and (max-width: 768px) {


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 0 !important;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper-slide {
    /*width: 80%;*/
    width: 240px;
}
.swiper-wrapper{
    margin-bottom: 66px;
}
:root{
    --swiper-theme-color: #524f4f;
}
/*.swiper-slide:nth-child(2n) {*/
/*    width: 60%;*/
/*}*/

/*.swiper-slide:nth-child(3n) {*/
/*    width: 40%;*/
/*}*/
    .read-more__btn{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .brands__list{
        display: grid;
        margin-top: 24px;
        margin-right: 24px;
        margin-left: 24px;
        margin-bottom: 82px;

        grid-template-columns: repeat(auto-fit,minmax(210px, 1fr));
        column-gap: 32px;
        row-gap: 16px;
    }
    .swiper-wrapper{
        box-sizing: border-box;
        width: auto !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }
    /*.swiper,.swiper-slide,.swiper-slide img{*/
    /*    all: unset;*/
    /*}*/

}