.brands{
    background-color: #F8F8F8;
}

.brands__list{
    list-style-type: none;
    padding: 0;
}

.swiper-slide{
    display: flex;
}

.brands__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #FFFFFF;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.brands__item:hover{
    opacity: 0.5;
}

.brands__image{

}

.brands__arrow{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
}

.brands__arrow::after{
    position: absolute;
    top: 13px;
    left: 13px;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79;
    transform: rotate(225deg);
}

.read-more{
    display: block;
    position: relative;
    left: 57px;
    bottom: 34px;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.read-more::before{
    position: absolute;
    top: 6px;
    left: -20px;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-left: 2px solid #41F6D7;
    border-bottom: 2px solid #41F6D7;
    transform: rotate(315deg);
}

.read-more::after{
    position: absolute;
    top: 11px;
    left: -20px;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-left: 2px solid #41F6D7;
    border-bottom: 2px solid #41F6D7;
    transform: rotate(315deg);
}

.read-more--click::before{
    transform: rotate(137deg);
}

.read-more--click::after{
    transform: rotate(137deg);
}