.icon{
    background: #FF3E79;
    text-decoration: none;
    border-radius: 100%;
    vertical-align: top;
    width: 40px;
    height: 40px;
}

.icon:hover{
    opacity: 0.5;
}

.icon--close{
    margin-left: 24px;
    padding: 10px 10px 10px 11px;
}

.icon--search{
    margin-left: 78px;
    padding: 10px 10px 10px 11px;
}

.icon-contact__list{
    display: flex;
    list-style-type: none;
    padding-left: 24px;
}

.icon-contact__link{
    display: block;
    text-decoration: none;
    margin-right: 16px;
}

.icon-contact__item{
    display: inline-block;
    padding: 10px 10px 10px 11px;
}

.icon-contact__item--profile{
    width: 20px;
    height: 20px;
    padding-right: 2px;
}