.btn-close {
  border: none;
  position: relative;
  bottom: 480px;
  background-image: url("../img/close.svg");
  @media screen and (min-width: 512px) {
    position: fixed;
    top: 30px;
    right: 470px;
    display: block;
  }
}
