
.copyright{
  display: block;
  margin-bottom: 16px;
  width: 350px;
  @media screen and (min-width: 650px){
    width: 200px;
    margin-left: 32px;
    text-align: left;
  }
  @media screen and (min-width: 800px){
    width: 220px;
    margin-left: 32px;
    text-align: left;
  }
}