$var1: #FFFFFF;
$var2: #D9FFF5;

.header {
  display: flex;
  height: 88px;
  background-color: #FFFFFF;
  width: 100%;
  align-items: center;
  outline: 5px dotted #D9FFF5;
  @media (min-width: 1120px) {
    display: none;
  }

  &__logo {
    margin-right: 2vw;
    @media (min-width: 510px) and (max-width: 1120px) {
      margin: 0 10px;
    }
    @media (min-width: 510px) and (max-width: 1120px) {
      margin-left: 0;
    }
  }

  &__button-menu {
    outline: none;
    border: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    display: block;
    background: #FF3E79;
    padding: 10px 9px 10px 11px;
    text-decoration: none;
    border-radius: 100%;
    vertical-align: top;
    width: 43px;
    height: 43px;
  }
}

