$var5: #F8F8F8;
$var6: #1B1C21;
$var7: #41F6D7;
.main {
  background-color: $var5;
  &-title {
    font-size: 28px;
    color: $var6;
    margin-left: 20px;
  }
  &__div {
    display: flex;
    flex-flow: row;
    &--divider::before {
      display: inline-block;
      position: relative;
      top: 7px;
      right: 20px;
      width: 2px;
      height: 30px;
      text-align: center;
      content: "";
      border: 2px solid $var7;
    }
  }
}

