$var6: #1B1C21;
$var7: #41F6D7;
$var8: #7E7E82;
.nav {
  flex-grow: 1;
  &__list {
    list-style-type: none;
    padding-left: 20px;
    &:hover {
      padding-left: 20px;
    }
  }
  &__item {
    margin-bottom: 20px;
    padding: 7px;
    &:hover {
      padding-left: 3px;
      display: flex;
      align-items: center;
    }
  }
  &__link {
    text-decoration: none;
    font-size: 16px;
    color: $var6;
    &:hover::before {
      position: relative;
      right: 24px;
      width: 2px;
      height: 30px;
      content: "";
      border: 2px solid $var7;
    }
    &:hover {
      color: $var8;
    }
  }
}

