$var1: #FFFFFF;
$var3: #FF3E79;
.order--btn{
  position: relative;
  background-color: $var3;
  text-decoration: none;
  border-radius: 16px;
  vertical-align: top;
  color: $var1;
  padding: 4px 40px 4px 12px;

  &::after{
    position: absolute;
    top: 12px;
    left: 105px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid $var1;
    border-bottom: 2px solid $var1;
    transform: rotate(225deg);
  }
  &:hover {
    opacity: 0.5;
  }
}

