$var3: #FF3E79;
$var4: #EAEAEA;
$var5: #F8F8F8;
$var6: #1B1C21;
.price-policy{
  background-color: $var5;
  &__text{
    display: block;
    min-width: 288px;
    max-width: 420px;
    color: $var6;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-left: 32px;
    margin-right: 16px;
    padding-top: 32px;
    margin-top: 0;
  }
  &__link{
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: $var6;
    letter-spacing: -0.2px;
    position: relative;
    text-decoration: none;
    margin-left: 32px;
    font-weight: 900;
    @media screen and (max-width: 350px ){
      width: 250px;
    }
    &::after{
      position: absolute;
      top: 9px;
      left: 355px;
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-left: 2px solid $var3;
      border-bottom: 2px solid $var3;
      transform: rotate(225deg);
      @media screen and (max-width: 350px ){
        top:33px;
        left: 110px;
      }
    }
  }
}

