$var8: #7E7E82;

.privacy-policy{
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  color: $var8;
  width: 350px;
  @media screen and (min-width: 650px){
    width: 200px;
  }
  @media screen and (min-width: 800px){
    width: 215px;
  }
}