.public-rules{
  display: block;
  margin-bottom: 16px;
  min-width: 200px;
  max-width: 300px;
  @media screen and (min-width: 650px){
    max-width: 250px;
    margin-right: 32px;
    text-align: right;
  }
  @media screen and (min-width: 800px){
    max-width: 330px;
    margin-right: 32px;
    text-align: right;
  }
}