$var1: #FFFFFF;
.main-overflow-hidden{
  height: 100vh;
  max-height: 100vh;
  overflow-y:hidden
}
.main-overflow-auto{
  overflow: inherit;
}
.modal--open{
  display: block;
  z-index: 5;
  position: fixed;
  background-color: $var1;
  height: 100%;
  overflow-y: auto;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.main--opacity{
  opacity: 0.2;
}
.modal--close{
  display: none;
}
.content-height {
  height: auto;
}
::-webkit-scrollbar {
  width: 0;
}